<div class="w3-container w3-content">

  <div class="w3-panel w3-white w3-card-2 w3-display-container">
    <div class="w3-row">
      <div class="w3-col m4">
        <p><b>DESTINATION:</b><%= flight.destination %></p>
        <p><b>Airline:</b> <%= flight.airline %></p>
      </div>
      <div class="w3-col m4">
        <p class=""><b>DEPARTURE DATE:</b><%= flight.departure_date %></p>
        <p><b>RETURN DATE:</b><%= flight.return_date %></p>
      </div>
      <div class="w3-col m4">
        <h3><%= flight.price %></h3>
      </div>
    </div>
  </div>
</div>