<div class="w3-container w3-padding-32">
  <div class="w3-container w3-content w3-card-2">
    <div class="w3-container w3-teal">
      <h2>Flight search</h2>
    </div>
    <%= form_tag hotels_lookup_path, remote: true do %>
        <%= label_tag :location %>
        <%= text_field_tag :location,nil,class:'w3-input' %>

        <%= label_tag :check_in_date %>
        <%= text_field_tag :check_in_date ,nil,id:'check-in-date'%>

        <%= label_tag :check_out_date %>
        <%= text_field_tag :check_out_date ,nil,id:'check-out-date'%>

        <%= submit_tag 'look up' %>
    <% end %>
  </div>
</div>
<div id="results" style="min-width:400px">

</div>
<script type="text/javascript" charset="utf-8">
  $(function() {
    $('#check-in-date').datepicker({ dateFormat: 'yy-mm-dd' });
    $('#check-out-date').datepicker({ dateFormat: 'yy-mm-dd' });
    function log( message ) {
      $( "<div>" ).text( message ).prependTo( "#log" );
      $( "#log" ).scrollTop( 0 );
    }
    $( "#location" ).autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: "http://api.sandbox.amadeus.com/v1.2/airports/autocomplete",
          dataType: "json",
          data: {
            apikey: "M48ZF9Wn4x8cX1jidoIzpKvWAUsJAgba",
            term: request.term
          },
          success: function( data ) {
            response( data );
          }
        });
      },
      minLength: 3,
      select: function( event, ui ) {
        log( ui.item ?
        "Selected: " + ui.item.label :
        "Nothing selected, input was " + this.value);
      },
      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
    });
    $( "#destination" ).autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: "http://api.sandbox.amadeus.com/v1.2/airports/autocomplete",
          dataType: "json",
          data: {
            apikey: "M48ZF9Wn4x8cX1jidoIzpKvWAUsJAgba",
            term: request.term
          },
          success: function( data ) {
            response( data );
          }
        });
      },
      minLength: 3,
      select: function( event, ui ) {
        log( ui.item ?
        "Selected: " + ui.item.label :
        "Nothing selected, input was " + this.value);
      },
      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
    });
  });
</script>